<configuration>
    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>https://localhost:8088</url>
        <token>fe31da07-b70a-436c-9a67-9fbc1b2184b6</token>
        <batch_size_count>1</batch_size_count>
        <disableCertificateValidation>true</disableCertificateValidation>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </appender>
    <conversionRule conversionWord="jsonMsg" converterClass="me.oussamamessaoudi.JsonMessageConverter"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <variable scope="context" name="traces" value="%replace(, %X{traceId}, %X{spanId}){', , ', ''}"/>
        <layout>
            <Pattern>%magenta(%d) %-4relative [%thread] %highlight([%level${traces}]) %cyan(%logger{35}) - %jsonMsg%n
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SPLUNK" />
    </root>
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <Logger name="me.oussamamessaoudi" level="DEBUG"/>
    </springProfile>
</configuration>
